# Ignore files in images.
images/**
# Ignore all done files.
done/**
# In general, most common images.
*.jpg
*.jpeg
*.gif
*.png
*.svg
*.bmp
# Binary output
infobmp
# Binary and code from letter
letter*
# Ignore files in pdfs.
pdfs/**
# In general, all pdf files.
*.pdf
# Ignore DS apple cloud file.
*.DS_Store
